
Dockerfile
.dockerignore
npm-debug.log
README.md
.next
.git
.vscode
fly.toml
TODO
data/database.sqlite
data/settings.json
data/failed_queue.json
node_modules
build

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production